[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FuzzyClass"]
	path = FuzzyClass
	url = https://github.com/leapigufpb/fuzzyclass
